
@{
    ViewBag.Title = "Divisas";
}

<article>

    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h2> divisas mas importantes del mundo.</h2>
            <br />
            @using (Html.BeginForm("Divisas", "AreaEconomia", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Label("cantidad", "cantidad")
                            @Html.TextBox("cantidad", null, new { @class = "form-control", id = "cantidad", type = "number", step = 0.1, required = String.Empty, min = 0 })
                            <small class="form-text text-black-50">Ingrese una cantidad </small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="miselect">Cambio </label>
                            @Html.DropDownList("select_combos1", new List<SelectListItem> {
                                new SelectListItem { Text="Nuevo Sol (PEN)", Value="1" },
                                new SelectListItem { Text="Dolaar Estadounidense (USD)",  Value="2" },
                                new SelectListItem { Text="Euro(EUR)", Value="3" },
                                new SelectListItem { Text="Yen Japones (JPY)", Value="4" },
                            }, "Seleccione una Divisa", new { @class = "form-control", id = "select_combos1" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="miselect">Tipo de cambio </label>
                            @Html.DropDownList("select_combos2", new List<SelectListItem> {
                                new SelectListItem { Text="Nuevo Sol (PEN)", Value="1" },
                                new SelectListItem { Text="Dolaar Estadounidense (USD)",  Value="2" },
                                new SelectListItem { Text="Euro(EUR)", Value="3" },
                                new SelectListItem { Text="Yen Japones (JPY)", Value="4" },
                            }, "Seleccione una Divisa", new { @class = "form-control", id = "select_combos2" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-dark form-control">Calcular</button>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="btn btn-dark form-control">Cancelar</a>
                    </div>
                </div>


            }
            <br />
            <small class="form-text text-black-50">Precio:</small>
            <input type="text" class="form-control" value="@ViewBag.valor1" readonly />

            <br />
        </div>
    </div>
</article>





